[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Model trained in kaggle data set using python and sklearn library
[access "refs/*"]
	owner = group user/Vikram Bais (ViKrAm-Bais)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vikram Bais (ViKrAm-Bais)
	label-Verified = -1..+1 group user/Vikram Bais (ViKrAm-Bais)
	push = group user/Vikram Bais (ViKrAm-Bais)
	read = group user/Vikram Bais (ViKrAm-Bais)
	rebase = group user/Vikram Bais (ViKrAm-Bais)
	removeReviewer = group user/Vikram Bais (ViKrAm-Bais)
	submit = group user/Vikram Bais (ViKrAm-Bais)
[access "refs/heads/*"]
	create = group user/Vikram Bais (ViKrAm-Bais)
	push = +force group user/Vikram Bais (ViKrAm-Bais)
	pushMerge = group user/Vikram Bais (ViKrAm-Bais)
	read = group user/Vikram Bais (ViKrAm-Bais)
[access "refs/tags/*"]
	push = group user/Vikram Bais (ViKrAm-Bais)
	push = +force group user/Vikram Bais (ViKrAm-Bais)
